<p>
  <b>Sushi:</b>
  <%=h @sushi_image.sushi_id %>
</p>

<p>
  <b>Image:</b>
  <%=h @sushi_image.image %>
</p>


<%= link_to 'Edit', edit_sushi_image_path(@sushi_image) %> |
<%= link_to 'Back', sushi_images_path %>