<p>
  <b>Lang:</b>
  <%=h @component_group_text.lang %>
</p>

<p>
  <b>Text:</b>
  <%=h @component_group_text.text %>
</p>


<%= link_to 'Edit', edit_component_group_text_path(@component_group_text) %> |
<%= link_to 'Back', component_group_texts_path %>