<h1>Listing component_groups</h1>

<table>
  <tr>
  </tr>

<% @component_groups.each do |component_group| %>
  <tr>
    <td><%= link_to 'Show', component_group %></td>
    <td><%= link_to 'Edit', edit_component_group_path(component_group) %></td>
    <td><%= link_to 'Destroy', component_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New component_group', new_component_group_path %>